@font-face {
font-family: 'InterBold';
src: url("Inter-Bold.ttf") format("truetype");
}

@font-face {
font-family: 'InterMed';
src: url("Inter-Medium.ttf") format("truetype");
}

@font-face {
font-family: 'InterReg';
src: url("Inter-Regular.ttf") format("truetype");
}

@font-face {
font-family: 'InterLight';
src: url("Inter-Light.ttf") format("truetype");
}

@font-face {
font-family: 'InterThin';
src: url("Inter-Thin.ttf") format("truetype");
}

html, body {
	height: 100%;
}

.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }
